<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="./vendor/autoload.php"
        convertWarningsToExceptions="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        colors="true">

    <php>
        <ini name="error_reporting" value="-16385"/>
    </php>

    <testsuites>
        <testsuite name="PhpTypes">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
                <directory>./build</directory>
                <file>RoboFile.php</file>
                <file>sami.php</file>
                <file>simple-benchmark.php</file>
                <file>example.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml" />
    </logging>
</phpunit>
